@import url("https://fonts.googleapis.com/css2?family=Caudex:ital@1&family=Keania+One&family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Montserrat", "Open Sans", "Poppins", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

header {
  margin-top: 80px;
}

.quadrado {
  text-align: center;
  width: 50px;
  background: #eee;
  display: inline-block;
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #eee;
}

.jogador,
.vencedor {
  font-size: 30px;
  margin-top: 10px;
}

.btn {
  margin-top: 30px;
  color: #eee;
  cursor: pointer;
  border: none;
}
